body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-1 {
    background-color: rgba(0, 0, 0, 0.4);
    transform: translateY(-200px);
    min-width: 300px;
    min-height: 250px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}


.copy-btn {
    margin-top: 10px;
}

.pass-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;

}

.password-text-style {
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 100px;
    padding: 6px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}